-@ val title: String
-@ val body: String

!!!
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
  body

    .container
      .row
        .col-md-8
          p
            ul.nav.nav-pills
              li
                a(href="/") Home

          h2= title

      != body