- import org.scalatra.book.chapter10._
-@ val area: Area
-@ val routes: Seq[Route]
- attributes("title") = area.name

.row
  .col-lg-8
    h4 Routes
    - for (route <- routes)
      .panel.panel-default
        .panel-heading= route.routeName
        .panel-body
          p Description: #{route.description}
          p Lat: #{route.latitude}°, Long: #{route.longitude}°

