- import org.scalatra.book.chapter10._
-@ val areas: Seq[Area]

- attributes("title") = "Areas"

.row
  .col-md-8
    - for (area <- areas)
      .panel.panel-default
        .panel-heading
          | Area: #{area.name}
          a.pull-right(href={"/areas/" + area.id}) show
        .panel-body
          div= area.description

